// .gitignore

.vs/
.vscode/

bin/
obj/
tmp/
*.suo
packages/

.svn/
Deprecated/SocketTransfer/
Deprecated/ModTrial/
ModuleDXS/
ModuleFlow/
ModuleQX/
ModuleSK/
ModuleTimer/
ModuleZLS/
ModuleFilterAll/
ServiceSerialZLS/
Oracle.DataAccess.dll
doc/
