<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="oradb" connectionString="Data Source=(DESCRIPTION= 
       (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.105)(PORT=1521))) 
       (CONNECT_DATA=(SERVICE_NAME=water))); 
       User Id=wateruser;Password=zjhthtwwx288185767;"/>
  </connectionStrings>
</configuration>