<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net-net-1.0"/>
  </configSections>

  <log4net>
    <root>
      <level value="WARN" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\"/>
      <param name="AppendToFile" value="true" />
      <param name= "MaxSizeRollBackups" value="90"/>
      <param name= "StaticLogFileName" value="false"/>
      <param name= "DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name= "RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="WARN" />
      </filter>-->
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
  </log4net>
  
  <connectionStrings>
    <add name="QX_Entities" connectionString="metadata=res://*/QX.csdl|res://*/QX.ssdl|res://*/QX.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.200)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=water)));PASSWORD=abc;USER ID=WATERUSER&quot;" providerName="System.Data.EntityClient"/>
    <add name="ZLS_Entities" connectionString="metadata=res://*/ZLS.csdl|res://*/ZLS.ssdl|res://*/ZLS.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.200)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=water)));PASSWORD=abc;USER ID=WATERUSER&quot;" providerName="System.Data.EntityClient"/>
    <add name="SK_Entities" connectionString="metadata=res://*/SK.csdl|res://*/SK.ssdl|res://*/SK.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.200)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=water)));PASSWORD=abc;USER ID=WATERUSER&quot;" providerName="System.Data.EntityClient"/>
    <add name="DXS_Entities" connectionString="metadata=res://*/DXS.csdl|res://*/DXS.ssdl|res://*/DXS.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.200)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=water)));PASSWORD=abc;USER ID=WATERUSER&quot;" providerName="System.Data.EntityClient"/>
    <add name="Cloud_SMS_Entities" connectionString="metadata=res://*/Cloud_SMS.csdl|res://*/Cloud_SMS.ssdl|res://*/Cloud_SMS.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.105)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=water)));PASSWORD=zjhthtwwx288185767;USER ID=WATER_CLOUD&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
