<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <encoding>gb2312</encoding>

  <serverconfig>
    <!--
    <server type="atcmd" protocol="pipe" pipename="CmdPipeServer" enable="true" canstop="false" id="CmdPipeServer" name="命令 服务端" />
    <server type="work" protocol="tcp" ipaddress="0.0.0.0" port="3012" autorun="false" canstop="true" id="Common" name="通用 服务端" />
    -->
    <server type="atcmd" protocol="udp" ipaddress="127.0.0.1" port="2000" autorun="true" canstop="false" id="Command" name="命令 服务" />
    <!-- not modify above here -->

    <!-- add new server below here -->
    <server type="work" protocol="tcp" ipaddress="0.0.0.0" port="3000" autorun="false" canstop="true" id="SK" name="水库 服务" />
    <server type="work" protocol="tcp" ipaddress="0.0.0.0" port="3002" autorun="false" canstop="true" id="ZLS" name="流量 服务" />
    <server type="work" protocol="tcp" ipaddress="0.0.0.0" port="3006" autorun="false" canstop="true" id="QX" name="气象 服务" />
    <server type="work" protocol="tcp" ipaddress="0.0.0.0" port="3008" autorun="false" canstop="true" id="DXS" name="地下水 服务" />
  </serverconfig>

  <timerconfig>
    <timer type="Timer_SK" interval="86400" command="!Z1"
           ccid="89860113836037156801,89860096111456058587"
           id ="Timer_SK1" name="Timer_SK1"></timer>
    
    <timer type="Timer_SK" interval="86422" command="!X1"
           ccid="89860112453600104241,89860020101480005460"
           id ="Timer_SK2" name="Timer_SK2"></timer>
    
    <timer type="Timer_SK" interval="3600,65,65" command="!Y1,!A3?,!A1?"
           ccid="89860114836037330892,89860113836037156801,89860112453600104241,89860020101480005460"
           id ="Timer_SK3" name="Timer_SK3"></timer>

    <timer type="Timer_SK" interval="86410,65" command="!Q1,!P1"
           ccid="89860113836037156801,89860112453600104241,89860020101480005460,89860114836037330892,89860096111456058587"
           id ="Timer_SK4" name="Timer_SK4"></timer>
  </timerconfig>

</configuration>